In [1]:
from pynto import *
import pandas as pd

In [2]:
my_exp = e()

In [3]:
my_exp(2,3,4);

In [4]:
my_exp(add,mul);

In [5]:
my_exp(eval=pd.date_range('5/1/2019',periods=3,freq='B'))

            constant
2019-05-01        14
2019-05-02        14
2019-05-03        14

In [6]:
e(2,3,4,add, mul, eval=pd.date_range('5/1/2019',periods=3,freq='B'))

            constant
2019-05-01        14
2019-05-02        14
2019-05-03        14

In [7]:
my_exp = e(
    2,
    3,
    4,
    add,
    mul
)

In [8]:
my_quotation = e(10,add)
e(1,2,3,my_quotation,call(), eval=pd.date_range('5/1/2019',periods=1,freq='B'))

            constant  constant  constant
2019-05-01         1         2        13

In [9]:
e(1,2,3,e(10,add),call(), eval=pd.date_range('5/1/2019',periods=1,freq='B'))

            constant  constant  constant
2019-05-01         1         2        13